.grid-container{
    display: grid;
    grid-template-columns: 250px 750px;
    grid-template-rows: 400px 400px;
    gap: 1rem;
    justify-content: center;
}
   


.grid-container div{
    background: #ecf0f1;
    padding: 1em;
}

.grid-container div:hover{
    border: 2px solid #34495e ;
}


